
.caixa1{
    border: 2px solid blue;
    width: 500px;
    height: 100px;
    margin: 20""0px;
    padding: 20px;
}

.caixa2{
    border: 2px dotted green;
    width: 500px;
    height: 100px;
    margin: 200px;
    padding: 20px;
}

.caixa3{
    border: 2px groove yellow;
    width: 500px;
    height: 100px;
    margin: 200px;
    padding: 20px;
}

.caixa4{
    border: 2px dashed red;
    width: 500px;
    height: 100px;
    margin: 200px;
    padding: 20px;
}